<main class="get-alarms-container">
  <section class="get-alarms-header">
    <h1>Alarms</h1>
    <ion-icon (click)="createAlarm()" name="add-circle-outline"></ion-icon>
  </section>

  <ng-container *ngIf="!isCreated">
    <img src="../../../assets/icon/pets-alarms-2.png" alt="Pets Alarms Icon" />
  
    <section class="get-alarms-text">
      <p>You don’t have created alarms</p>
      <p>
        Add one clicking in the plus icon and enjoy all the feautres of Pets-Alarms
      </p>
    </section>
  </ng-container>

  <ng-container *ngIf="isCreated">
    <section class="get-alarms-created">
      <p>8:00 AM</p>
      <p>Veterinary</p>

      <ion-item>
        <ion-label>Daily</ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
    </section>
  </ng-container>

  <ion-button (click)="return()" color="danger">Return</ion-button>

</main>
